.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a {
  color: inherit;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.site-title {
  font-size: 3rem;
}

.nav li:hover {
  background-color: rgb(86, 86, 86);
}
